---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { Experiments } from "@/components/experiments";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { fade, slide } from "astro:transitions";

const posts = (await getCollection("notes")).filter(
  (note) => !note.data.private,
);
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="flex no-scrollbar flex-col h-full bg-neutral-50 mx-auto max-w-2xl px-4 sm:px-6 lg:px-8 pt-8 pb-16"
  >
    <Header />
    <main transition:animate={slide({ duration: "0.4s" })}>
      <section>
        <Experiments client:load />
      </section>
    </main>
  </body>
</html>
