---
import { slide } from 'astro:transitions';
const { pathname } = Astro.url;
---
<header>
    <nav class="pb-10">
        <div class="flex w-full justify-between items-center">
            <div class="flex gap-4">
                <a href="/" class={`font-medium text-base text-neutral-800 ${pathname === '/' ? 'underline': ''}`}>#an</a>
                <a href="/til" class={`font-medium text-base text-neutral-800 ${pathname === '/til' ? 'underline': ''}`}>til</a>
                <a href="/notes" class={`font-medium text-base text-neutral-800 ${pathname === '/notes' ? 'underline': ''}`} >notes</a>
                <a href="/blog" class={`font-medium text-base text-neutral-800 ${pathname === '/blog' ? 'underline': ''}`} >blog</a>
                <a href="/bookmarks" class={`font-medium text-base text-neutral-800 ${pathname === '/bookmarks' ? 'underline': ''}`} >bookmarks</a>
                <a href="/rss.xml" class={`font-medium text-base text-neutral-800`} >rss</a>
            </div>
        </div>
    </nav>
</header>
